.profile{
    display: grid;
    grid-template-columns: 82px 190px;
    >.img_profile__account{

        >img{
            width: 64px;
            height: 64px;
            margin-left: 18px;
            border: 1px solid #FFE3CE; 
            border-radius: 45px;
        }
        >.img_profile_line{
            position: relative;
            margin-left: 30px;
            margin-top: 20px;
        }
    }
    > .login_sidebar{
        position: relative;
        font-size: 20px;
        color: #FFE3CE;
        padding: 20px 0px 20px 0px;
        text-align: center;
        font-weight: 400px;
    }
}