.menu{
    background-color: #FFE3CE;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
}
.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 12px;
    background-color: #5D0000;
    box-shadow: 3px 4px 4px rgb(0, 0, 0, 0.25);
}
.wrapper_menu{
    position: relative;
    display:grid;
    grid-template-columns: 272px auto;
    grid-auto-rows: 100vh;
    width: 100vh
}

.menu_sidebar{
    margin-top: 0px;
    width: 272px;
    grid-column: 1/2;
}
