.menu{
    background-color: #FFE3CE;
    position: relative;
    top:0;
    left:0;
    width: calc(100% + 8px);
    height: 100%;
    overflow: hidden;
    margin-bottom: -8px;
}
.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 12px;
    background-color: #5D0000;
    box-shadow: 3px 4px 4px rgb(0, 0, 0, 0.25);
}
.wrapper_menu{
    position: relative;
    display:grid;
    grid-template-columns: 272px 1fr;
    grid-auto-rows: minmax(100vh, max-content);
    width: 100%;
    height: 100%;
}

.menu_sidebar{
    margin-left: -10px;
    margin-top: 0px;
    width: 272px;
    grid-column: 1/2;
}

.title{
    font-size: 25px;
    color: #5D0000;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 33px;
}


.main{
    margin-left: 54px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    width: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.recipe{
    width: 100%;
    background-color: #9E5B52;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.39);
    cursor: pointer;
    transition: transform 300ms ease;
}
.recipe img{
    width: 200px;
    height: 147px;
}
.recipe:hover{
    transform: scale(1.05)
}
.recipe h2{
    color: #FFE3CE;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}
.addRecipe{
    text-align: center;
    padding-top: 40%;
    cursor: pointer;
}