.window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.605);
}

.container{
    width: 444px;
    height: 614px;
    background-color: #5D0000;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    margin: auto;
    z-index: 100;
    color: #FFF4EE;
    >form{
        width:380px;
        height: 486px;
        margin-left:32px;
        padding-top: 25px;
        >.main_info{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 30px 76px;
            grid-row-gap: 10px;
            font-size: 15px;
            color: #4B4B4B;
            margin-top: 20px;
            >input{
                grid-column: 2/3;
                width:229px;
                height: 30px;
                margin-top:7px;
                background-color: #FFF4EE;
                border-radius: 5px;
                padding: 7px;
            }
            >textarea{
                grid-column: 2/3;
                width:229px;
                height: 76px;
                background-color: #FFF4EE;
                border-radius: 5px;
                padding: 7px;
            }
        }

        >h2{
            margin-top: 9px;
            margin-left: 10px;
            margin-bottom: 9px;
            font-size: 18px;
            font-weight: 600;
        }

        >.nutrition{
            display: grid;
            grid-template-columns: 158px 46px;

            >p{
                font-size: 15px;
            }

            >input{
                background-color: #FFF4EE;
                width: 46px;
                height: 16px;
                border-radius: 5px;
                color: #4B4B4B;
                font-size: 12px;
                padding: 2px;
                margin-top:3px;
            }
        }

        >.weight{
            margin-top:18px;
            display:grid;
            grid-template-columns: 158px 46px;

            >h2{
                font-size: 18px;
                font-weight: 600;
            }

            >input{
                background-color: #FFF4EE;
                width: 46px;
                height: 16px;
                border-radius: 5px;
                color: #4B4B4B;
                font-size: 12px;
                padding: 2px;
                margin-top:3px;
            }
        }
        >.date{
            display: grid;
            grid-template-columns: 260px 88px;
            margin-bottom: 10px;
            >p{
                font-size: 15px;
            }
            >input{
                width:88px;
                height: 14px;
                padding: 2px;
                font-size: 11px;
                color:#4B4B4B;
                background-color: #FFF4EE;
                border-radius: 5px;
                margin-top:3px;
            }
        }

        >select{
            width: 100%;
            border-radius: 5px;
            background-color: #FFF4EE;
            color:#4B4B4B;

            
        }
        >button{
            margin-top: 18px;
            text-align: center;
            width: 100%;
            height: 35px;
            background-color: #360101b4;
            border-radius: 5px;
            &:hover{
                background-color: #fcdac8;
                color:#5D0000;
            }
        }
    }
}

